<ol class="actions">
  <% if @user and not my_page? %>
    <li><%= watched_liked movie, @user %></li>
  <% end %>
  <% if current_user.watched.include? movie %>
    <li class="watched"><%= watched_liked movie %></li>
  <% else %>
    <% unless my_watchlist? %><li><% if current_user.to_watch.include? movie %>
      This movie is in your "to watch" list.
    <% else %>
      <%= button_to 'Want to watch', add_to_watch_path(movie), :method => :put, :class => 'to_watch' %>
    <% end %></li><% end %>
    <li>
      <%= button_to 'I watched this', add_watched_path(movie), :method => :put, :class => 'watched' %><br>
      <%= button_to 'Yes', add_watched_path(movie), :method => :put, :name => 'liked' %>
      <%= button_to 'No', add_watched_path(movie), :method => :put, :name => 'liked' %>
      <%= button_to 'Meh', add_watched_path(movie), :method => :put, :name => 'liked' %>
    </li>
  <% end %>
</ol>
