<aside class="actions">
  <% if @user and not my_page? %>
    <p><%= watched_liked movie, @user %></p>
  <% end %>
  
  <% if current_user.watched.include? movie %>
    <p class="watched"><%= watched_liked movie %></p>
  <% else %>
    <div class="primary">
      <% unless my_watchlist? %>
        <% if current_user.to_watch.include? movie %>
          <p class="to-watch">This movie is in your "to watch" list.</p>
        <% else %>
          <%= button_to 'Want to watch', add_to_watch_path(movie), :remote => true, :method => :put, :class => 'to-watch' %>
        <% end %>
      <% end %>
      <div class="add-watched">
        <%= button_to 'I watched this', add_watched_path(movie), :method => :put, :class => 'watched' %>
      </div>
    </div>
    <div class="question">
      <p>Did you like it?</p>
      <%= button_to 'Yes', add_watched_path(movie), :remote => true, :method => :put, :name => 'liked' %>
      <%= button_to 'No', add_watched_path(movie), :remote => true, :method => :put, :name => 'liked' %>
      <%= button_to 'Meh', add_watched_path(movie), :remote => true, :method => :put, :name => 'liked' %>
      <%= link_to 'cancel', '#cancel' %>
    </div>
  <% end %>
</aside>
