<aside class="actions">
  <% if @user and not my_page? and movie.respond_to? :liked? %>
    <p class="other-info js-preserve"><%= watched_liked movie, @user %></p>
  <% end %>
  
  <% if logged_in? %>
  <% if current_user.watched.include? movie %>
    <p class="watched"><%= watched_liked movie %></p>
    <%= link_to '×', [:remove_from_watched, movie], :remote => true, :method => :delete, :class => 'revert', :title => "I didn't watch it", :'data-confirm' => 'Are you sure?' %>

  <% else %>
    <div class="primary">
      <% unless my_watchlist? %>
        <% if current_user.to_watch.include? movie %>
          <p class="to-watch">This movie is in your "<%= link_to 'to watch', to_watch_path(current_user) %>" list</p>
          <%= link_to '×', [:remove_from_to_watch, movie], :remote => true, :method => :delete, :class => 'revert', :title => 'Remove from "to watch" list' %>
        <% else %>
          <%= button_to 'Want to watch', [:add_to_watch, movie], :remote => true, :method => :put, :class => 'to-watch' %>
        <% end %>
        
      <% else %>
        <p><%= link_to "I don't want to watch it", [:remove_from_to_watch, movie], :remote => true, :method => :delete, :class => 'revert' %></p>
      <% end %>
      
      <div class="add-watched">
        <%= button_to 'I watched this', [:add_watched, movie], :method => :put, :class => 'watched' %>
      </div>
    </div>
    
    <div class="question">
      <p>Did you like it?</p>
      <%= button_to 'Yes', [:add_watched, movie], :remote => true, :method => :put, :name => 'liked', :'data-disable-with' => '⋯' %>
      <%= button_to 'No', [:add_watched, movie], :remote => true, :method => :put, :name => 'liked', :'data-disable-with' => '⋯' %>
      <%= button_to 'Meh', [:add_watched, movie], :remote => true, :method => :put, :name => 'liked', :'data-disable-with' => '⋯' %>
      <%= link_to 'cancel', '#cancel' %>
    </div>
  <% end %>
  <% end %>
</aside>
