<% if movie.original_title and movie.original_title != movie.title %>

  <hgroup>
    <h1>
      <% if movie_show_page? %>
        <%= movie.original_title %>
      <% else %>
        <%= link_to movie.original_title, movie_path(movie.id) %>
      <% end %>
    </h1>

    <h2>
      <% if movie_show_page? %>
        <%= movie.title %>
      <% else %>
        <%= link_to movie.title, movie_path(movie.id) %>
      <% end %>
    </h2>
  </hgroup>

<% else %>

  <h1>
    <% if movie_show_page? %>
      <%= movie.title %>
    <% else %>
      <%= link_to movie.title, movie_path(movie.id) %>
    <% end %>
  </h1>
  
<% end %>
  
<%= movie_year(movie) %> 
