<h1><% if @query %>
  Searched for: <span><%= h @query %></span>
<% else %>
  All movies
<% end %></h1>

<%= form_tag request.path, :method => 'get' do %>
  <div>
    <%= label_tag :q, 'Search:' %>
    <%= text_field_tag :q, @query, :type => 'search' %>
  </div>
<% end %>

<ol class="movies" style="counter-reset: item <%#= @movies.offset %>">
<% for movie in @movies %>
  <li style="background-image:url(<%#= movie.poster_small_url %>)">
    <dl>
      <dt><%= link_to(title_for_movie(movie), movie) %> <span>(<%= movie.year %>)</span></dt>
      <dd><% unless movie.directors.empty? %>by <em><%= movie.directors.to_sentence %></em><% end %></dd>
    </dl>
    
    <ol class="actions">
      <li><a href="#" title="Hey, I watched this!">&radic;</a></li>
      <li><%= link_to '+', add_to_watch_path(:id => movie.id), :title => "To watch..." %></li>
    </ol>
  </li>
<% end %>
</ol>

<%#= will_paginate @movies %>
