<h1><% if @query %>
  Search results for <i><%= h @query %></i>
<% else %>
  All movies
<% end %></h1>

<% unless @movies.empty? %>

  <ol class="movies" style="counter-reset: item <%= @movies.offset %>">
  <% for movie in @movies %>

    <li>
      <article>

        <%= render :partial => 'movie', :locals => { :movie => movie } %>
        
        <ol class="actions">
          <li><a href="#"><span>✓</span> Watched it!</a></li>
          <li><a href="<%= add_to_watch_path(:id => movie.id) %>"><span class="toothin">+</span> Want to watch</a></li>
        </ol>

      </article>    
    </li>

  <% end %>
  </ol>

  <%= will_paginate @movies %>

<% else %>

  <p>Nothing found. I SO SORRY</p>

<% end %>
