<h1><% if @query %>
  Searched for: <b><%= h @query %></b>
<% else %>
  All movies
<% end %></h1>

<% form_tag request.path, :method => 'get' do %>
  <div>
    <%= label_tag :q, 'Search:' %>
    <%= text_field_tag :q, @query, :type => 'search' %>
  </div>
<% end %>

<ol class="movies">
<% for movie in @movies %>
  <li>
    <%= image_tag movie.poster_medium_url %>
    <%= link_to movie.title, movie.netflix_url %> (<%= movie.year %>)
    <br>
    <%= movie.directors.to_sentence %>
  </li>
<% end %>
</ol>

<%= will_paginate @movies %>
