<h1><% if @query %>
  Searched for: <span><%= h @query %></span>
<% else %>
  All movies
<% end %></h1>

<%= form_tag request.path, :method => 'get' do %>
  <div>
    <%= label_tag :q, 'Search:' %>
    <%= text_field_tag :q, @query, :type => 'search' %>
  </div>
<% end %>

<ol class="movies" style="counter-reset: item <%#= @movies.offset %>">
<% for movie in @movies %>

  <li>
    <article>

      <%= render :partial => 'movie', :locals => { :movie => movie } %>
        
      <ol class="actions">
        <li><a href="#"><span>✓</span>Watched it!</a></li>
        <li><a href="<%= add_to_watch_path(:id => movie.id) %>"><span class="toothin">+</span>Movie to see</a></li>
      </ol>

    </article>    
  </li>

<% end %>
</ol>

<%#= will_paginate @movies %>
