<h1>
  Netflix search results for
  <b><%= @query %></b>
</h1>

<% poster = request.xhr? ? 'poster_small' : 'poster_large' %>

<% for movie in @movies %>
<article style="float:left; width:100%" data-netflix-id="<%= movie.id %>">
  <%= image_tag movie.send(poster), style: 'float:left; margin-right:1em' %>
  <h2><%= movie.name %> (<%= movie.year %>)</h2>

  <% if movie.synopsis.present? %><p><%= raw movie.synopsis %></p><% end %>
  <p>Director: <%= movie.directors.to_sentence %></p>
</article>
<% end %>
