<% body_class 'movie-show' %>
<article class="movie">
  
  <%= movie_poster(@movie, :medium) %>
  
  <%= movie_actions(@movie) %>

  <header>
    <h1><%= title_for_movie(@movie) %></h1>

    <%= movie_year(@movie) %>
    <%= movie_runtime(@movie) %>

    <% if @movie.directors.present? %>
      <p class="directors">by <strong><%= @movie.directors.map { |name|
        link_to(name, director_path(name))
      }.to_sentence.html_safe %></strong></p>
    <% end %>
    <% if @movie.countries.present? %>
      <p class="countries">in <%= @movie.countries.to_sentence %></div>
    <% end %>
  </header>

  <p class="plot"><%= raw @movie.plot %></p>

  <% if @movie.homepage.present? %>
    <p><a href="<%= @movie.homepage %>">Official website</a></p>
  <% end %>
  
</article>
