<h1><%= title_for_movie(@movie) %></h1>

<% if @movie.poster_medium_url %>
<%= image_tag @movie.poster_medium_url %>
<% end %>

<% if @movie.runtime %>
<p>running time: <%= @movie.runtime / 60 %> minutes</p>
<% end %>

<p><%= @movie.plot %></p>

<div class="actions">
  <%= link_to("Back to movies list", movies_path) %> |
  <%= link_to("Edit movie", edit_movie_path(@movie)) %>
</div>