<% body_class 'movie-show' %>
<% @title = movie_title_with_year(@movie) %>
<article class="movie">
  
  <%= movie_poster(@movie, :medium) %>

  <header>
    <%= render 'title', :movie => @movie %>
    
    <% if @movie.directors.present? %>
      <p class="directors">by <strong><%= @movie.directors.map { |name|
        link_to(name, director_path(name))
      }.to_sentence.html_safe %></strong></p>
    <% end %>

    <% if @movie.countries.present? %>
      <p class="countries">in <%= @movie.countries.to_sentence %></p>
    <% end %>

    <%= movie_runtime(@movie) %>
  </header>

  <p class="plot"><%= raw @movie.plot %></p>
  
  <% if elsewhere = movie_elsewhere(@movie).presence %>
    <p class="elsewhere">
      Elsewhere:
      <%= raw elsewhere.map { |label, url| link_to(label, url) }.join(' ∙ ') %>
    </p>
  <% end %>
  
  <%= movie_actions(@movie) %>

  <% if logged_in? and not (friends = current_user.friends_who_watched(@movie).to_a).empty? %>
    <p class="friends">
      <%= list_of_people(friends, :other => 'other friend') %>
      <%= friends.length == 1 ? 'has' : 'have' %>
      watched this.
    </p>
  <% end %>
  
</article>
