<% body_class 'movie-show' %>
<% @title = movie_title_with_year(@movie) %>
<article class="movie">
  
  <%= movie_poster(@movie, :medium) %>

  <header>
    <%= render 'title', :movie => @movie %>
    
    <% if @movie.directors.present? %>
      <p class="directors">by <strong><%= @movie.directors.map { |name|
        link_to(name, director_path(name))
      }.to_sentence.html_safe %></strong></p>
    <% end %>

    <% if @movie.countries.present? %>
      <p class="countries">in <%= @movie.countries.to_sentence %></p>
    <% end %>

    <%= movie_runtime(@movie) %>
  </header>

  <% if @movie.chosen_plot.present? %>
  <p class="plot"><%= movie_plot @movie %></p>
  <% else %>
  <p class="plot not-found">Movie plot not available.</p>
  <% end %>
  
  <% if elsewhere = movie_elsewhere(@movie).presence %>
    <p class="elsewhere">
      Elsewhere:
      <%= raw elsewhere.map { |label, url| link_to(label, url) }.join(' ∙ ') %>
    </p>
  <% end %>
  
  <%= movie_actions(@movie) %>

  <% if logged_in? and not (friends = current_user.friends_who_watched(@movie).to_a).empty? %>
    <p class="friends">
      <%= list_of_people(friends, :other => 'other friend') %>
      <%= friends.length == 1 ? 'has' : 'have' %>
      watched this.
    </p>
  <% end %>
  
    <% if admin? %>
      <aside class="admin">
        <ul>
        <% if @movie.customizable_plot? %>
        <li><%= link_to "switch to #{@movie.next_plot_source} plot", change_plot_field_movie_path(@movie.id), :method => 'put' %></li>
        <% end %>
        <% if @movie.netflix_id.blank? %>
        <li><%= link_to "link to Netflix", root_path(netflix: true, q: @movie.title), :rel => 'facebox.netflix_picker' %></li>
        <% else %>
        <li><%= link_to "unlink from Netflix", link_to_netflix_movie_path(@movie.id), :method => 'put' %></li>
        <% end %>
        <li><%= link_to "edit movie", edit_movie_path(@movie.id), :rel => 'facebox.edit' %></li>
      </aside>
    <% end %>
  </div>
  
</article>
