<% body_class 'movie-show' %>
<% @title = movie_title_with_year(@movie, :with_original) %>

<% content_for :head do -%>
  <meta property="og:title" content="<%= h movie_title_with_year(@movie, :with_original) %>">
  <meta property="og:type" content="video.movie">
  <meta property="og:url" content="<%= movie_url(@movie) %>">
  <meta property="og:image" content="<%= @movie.poster_small_url %>">
  <meta property="og:site_name" content="Movi.im">
  <% if @movie.chosen_plot.present? %>
  <meta property="og:description" content="<%= h movie_plot(@movie) %>">
  <% end %>
<% end -%>

<article class="movie">

  <%= render 'full_movie', movie: @movie %>

    <% if admin? %>
      <aside class="admin">
        <ul>
        <% if @movie.customizable_plot? %>
        <li><%= link_to "switch to #{@movie.next_plot_source} plot", change_plot_field_movie_path(@movie.id), :method => 'put' %></li>
        <% end %>
        <li><%= link_to "change poster image", pick_poster_movie_path(@movie.id), :rel => 'facebox.poster_picker' %></li>
        <% if @movie.netflix_id.blank? %>
        <li><%= link_to "link to Netflix", root_path(netflix: true, q: @movie.title), :rel => 'facebox.netflix_picker' %></li>
        <% else %>
        <li><%= link_to "unlink from Netflix", link_to_netflix_movie_path(@movie.id), :method => 'put' %></li>
        <% end %>
        <li><%= link_to "edit movie", edit_movie_path(@movie.id), :rel => 'facebox.edit' %></li>
        <% if @movie.tmdb_url.present? %>
        <li><%= link_to "see TMDB entry", @movie.tmdb_url %></li>
        <% end %>
        <li><%= link_to "see raw: TMDB", raw_movie_path(kind: 'tmdb') %></li>
      </aside>
    <% end %>
  
</article>
