<article class="movie">
  
  <% if @movie.poster_medium_url %>
    <%= image_tag @movie.poster_medium_url %>
  <% end %>

  <h1><%= title_for_movie(@movie) %></h1>

  <%= movie_year(@movie) %>

    <% unless @movie.directors.empty? %>
      <div>by <strong><%= @movie.directors %></strong></div>
    <% end %>

  <dl>    
    <% if @movie.countries %>
      <dt>Country:</dt>
      <dd><%= @movie.countries %></dd>
    <% end %>
    
    <% if @movie.runtime %>
      <dt>Runtime:</dt>
      <dd><%= @movie.runtime %> min</dd>
    <% end %>
  </dl>
  
  <% unless @movie.homepage.empty? %>
    <a href="<%= @movie.homepage %>">Official website</a>
  <% end %>

  <p><%= raw @movie.plot %></p>

  <ol class="actions">
    <li><%= link_to("Back to movies list", movies_path) %></li>
  </ol>
  
</article>
