<% if @movie.poster_medium_url %>
  <%= image_tag @movie.poster_medium_url %>
<% end %>

<h1><%= title_for_movie(@movie) %></h1>

<%= movie_year(@movie) %>

<dl>
  <% if @movie.language %>
    <dt>Language:</dt>
    <dd><%= @movie.language %></dd>
  <% end %>
  <% if @movie.runtime %>
    <dt>Runtime:</dt>
    <dd><%= @movie.runtime %></dd>
  <% end %>
</dl>

<p><%= raw @movie.plot %></p>

<ol class="actions">
  <li><%= link_to("Back to movies list", movies_path) %></li>
</ol>
