<% body_class 'movie-show' %>
<% @title = movie_title_with_year(@movie) %>
<article class="movie">
  
  <%= movie_poster(@movie, :medium) %>

  <% if @movie.homepage.present? %>
    <p><a href="<%= @movie.homepage %>">Official website</a></p>
  <% end %>

  <header>
    <h1><%= title_for_movie(@movie) %></h1>

    <%= movie_year(@movie) %>
    <%= movie_runtime(@movie) %>

    <% if @movie.directors.present? %>
      <p class="directors">by <strong><%= @movie.directors.map { |name|
        link_to(name, director_path(name))
      }.to_sentence.html_safe %></strong></p>
    <% end %>
    <% if @movie.countries.present? %>
      <p class="countries">in <%= @movie.countries.to_sentence %></p>
    <% end %>
  </header>

  <p class="plot"><%= raw @movie.plot %></p>
  
  <%= movie_actions(@movie) %>

  <% if logged_in? and not (friends = current_user.friends_who_watched(@movie).to_a).empty? %>
    <p class="friends">
      <%= list_of_people(friends, :other => 'other friend') %>
      <%= friends.length == 1 ? 'has' : 'have' %>
      watched this.
    </p>
  <% end %>
  
</article>
