<article>

  <% if not @movies.empty? %>
    <h1><%= @user.name %> watched <%= count @movies %>.</h1>
    <p>
      <%= link_to "#{count @user.watched.liked} liked", liked_path(@user) %>,
      <%= link_to "#{count @user.to_watch} to watch", to_watch_path(@user) %>
    </p>
    
    <%= render 'paginated', :movies => @movies %>
  <% elsif my_page? and @user.to_watch.count.zero? %>
    <h1>Looks like you're new here.</h1>
    <p>Here's the plan:</p>
    <ol>
      <li><%= link_to 'Browse the site', root_path %> and mark any movie as watched or to watch.</li>
      <li>???</li>
      <li>… profit!</li>
    </ol>
  <% else %>
    <p><%= link_to "#{count @user.to_watch} to watch", to_watch_path(@user) %></p>
    <p><%= @user.name %> didn't tell us what he/she watched yet.</p>
  <% end %>

</article>