<% @title = "#{@compare.username1} & #{@compare.username2} on Movi.im" %>
<% body_class 'compare' %>
<article>
  <% @compare.scoped(1) do |compare| %>
    <%= render 'compare_person', compare: compare %>
  <% end %>

  <section id="in-common">
    <p class="movies"><%= pluralize_movies @compare.in_common_count, 'in common' %></p>
    <p class="percent">Compatibility: <span class="num"><%= number_to_percentage @compare.compatibility, precision: 0 %></span></p>
  </section>

  <% @compare.scoped(2) do |compare| %>
    <%= render 'compare_person', compare: compare %>
  <% end %>

  <h2>Movies both liked:</h2>
  <%= render 'movies/paginated', :movies => @compare.movies_both_liked.limit(6) %>

  <h2>Movies both want to watch:</h2>
  <%= render 'movies/paginated', :movies => @compare.movies_to_watch.limit(6) %>
</article>
