<% @title = "People you're following" %>
<% body_class 'friends' %>

<article>
  <header>
    <h1>People you're following</h1>
    <p>See what they have watched recently in your <%= link_to 'timeline', timeline_path %>.</p>

    <% unless current_user.from_twitter? and current_user.from_facebook? %>
      <p>You can also
        <% if current_user.from_twitter? %>
          <%= facebook_icon %>
          <%= link_to 'login with Facebook', connect_path(network:'facebook') %>
        <% else %>
          <%= twitter_icon %>
          <%= link_to 'login with Twitter', connect_path(network:'twitter') %>
        <% end %>
        to connect with people on that network.
      </p>
    <% end %>

  </header>

  <table>
    <thead>
      <th><!-- icon --></th>
      <th>Name</th>
      <th>Screen name</th>
      <th><!-- t/f --></th>
      <th>Compatibility</th>
      <th><!-- unfollow --></th>
    </thead>
    <tbody>
      <%= render :partial => 'friend', :collection => current_user.friends.to_a %>
    </tbody>
  </table>
</article>
