<% @title = "Movies that #{user_name(@user)} liked" %>
<article>

  <% if not blank_slate? %>
    <header>
      <h1><%= @user.name %> liked <%= count @movies %></h1>
      <p><%= link_to "#{count @user.watched} watched", watched_path(@user) %></p>
    </header>
    
    <%= render 'movies/paginated', :movies => @movies %>
  <% else %>
    <p><%= @user.name %> didn't tell us what he/she liked yet.</p>
  <% end %>

</article>