<% @title = "#{user_name(@user)} on Movi.im" %>
<% body_class 'user-show' %>
<article>

  <% if not blank_slate? %>
    <header>
      <div class="main">
      <h1><% if my_page? %>
        Your movie stream
      <% else %>
        <%= @user.name %>
      <% end %>
      </h1>

      <nav><% if my_page? %>
        <%= link_to "social timeline", timeline_path %>
      <% elsif logged_in? %>
          <%= link_to_compare(current_user, @user) %><%= separator %>
        <% if not current_user.following? @user %>
          <%= link_to 'follow person', follow_path(@user.id), :method => :post %>
        <% else %>
          <%= link_to 'unfollow', unfollow_path(@user.id), :method => :delete,
            :confirm => "Are you sure you want to unfollow #{screen_name @user}?" %>
        <% end %>
      <% end %></nav>
      </div>
      
      <% cache [@user.watched, :stats, :v2] do %>
      <ul class="stats">
        <li><em><%= @user.watched.size %></em> movies &asymp; <%= life_wasted(@user) %></li>
        <li><%= positive(@user) %>, <%= hater(@user) %></li>
      </ul>
      <% end %>
      
      <nav>
        <ol>
          <li><%= link_to "#{@user.to_watch.total_entries} to watch", to_watch_path(@user) %></li>
          <li><%= link_to "#{@user.watched.liked.count} liked", liked_path(@user) %></li>
        </ol>
      </nav>
    </header>

    <% if my_page? %>
      <p class="flash warning">
        Hey there, thank you for using movi.im, but I'm afraid you might be <a href="<%= about_url %>">unable to login soon</a>.<br>
        You should export your data by using these links:
        <%= link_to 'Watched movies', export_path(username: current_user.username, format: "csv") %>,
        <%= link_to 'To-watch list', to_watch_path(username: current_user.username, format: "csv") %>
        (CSV format).<br>
        This export format can be imported into <a href="https://letterboxd.com/mmislav/">Letterboxd</a>, another service to track movies that you've watched.
      </p>
    <% end %>

    <%= render 'recommendation_notice' %>

    <%= render 'movies/paginated', :movies => @movies %>

  <% elsif my_page? and (forced_blank_slate? or @user.to_watch.empty?) %>
    <section class="intro">
      <h1>Looks like you're new here.</h1>
      <p>
        <%= link_to 'Browse the site', root_path %> for movies, mark them as watched, or add them to your "to watch" list.
        As simple as that.
      </p>
      <% if (movies_count = @user.movies_from_friends.count) > 0 %>
        <p>
          Your friends have watched <%= pluralize(movies_count, 'movie') %>.
          See them in your <%= link_to "social timeline", timeline_path %>
        </p>
      <% end %>
    </section>

  <% else %>
    <p><%= link_to "#{count @user.to_watch} to watch", to_watch_path(@user) %></p>
    <p><%= @user.name %> didn't tell us what they watched yet.</p>
  <% end %>

</article>
