<% @title = "#{user_name(@user)} on Movi.im" %>
<article>

  <% if not @movies.empty? %>
    <h1><% if my_page? %>
      Your movie stream
    <% else %>
      <%= @user.name %>
    <% end %>
      <span><em><%= @user.watched.count %></em> movies &asymp; <%= life_wasted(@user) %> of life spent</span>
    </h1>
    <nav>
      <p>
        <%= link_to "#{count @user.watched.liked} liked", liked_path(@user) %>,
        <%= link_to "#{count @user.to_watch} to watch", to_watch_path(@user) %>,
        <%= link_to "movies from friends", friends_path(@user) %>
      </p>
      <ul class="profiles">
        <% if @user.from_twitter? %><li><%= link_to @user.twitter_url do %><%= twitter_icon(nil) %>
          <span>@<%= @user['twitter']['screen_name'] %> on Twitter</span><% end %>
        </li><% end %>
        <% if @user.from_facebook? %><li>
          <%= link_to @user.facebook_url do %><%= facebook_icon(nil) %> <span>Facebook profile</span><% end %>
        </li><% end %>
      </ul>
    </nav>

    <%= render 'movies/paginated', :movies => @movies %>

  <% elsif my_page? and @user.to_watch.size.zero? %>
    <section class="intro">
      <h1>Looks like you're new here.</h1>
      <p>
        <%= link_to 'Browse the site', root_path %> for movies, mark them as watched, or add them to your "to watch" list.
        As simple as that.
      </p>
      <% if (movies_count = @user.movies_from_friends.count) > 0 %>
        <p>
          Your friends have watched <%= pluralize(movies_count, 'movie') %>.
          See <%= link_to "movies from friends", friends_path(@user) %>
        </p>
      <% end %>
    </section>

  <% else %>
    <p><%= link_to "#{count @user.to_watch} to watch", to_watch_path(@user) %></p>
    <p><%= @user.name %> didn't tell us what he/she watched yet.</p>
  <% end %>

</article>