<% @title = "Movies that #{user_name(@user)} wants to watch" %>
<article>

  <% if not @movies.empty? %>
    <header>
      <h1><%= @user.name %> plans to watch <%= count @movies %>.</h1>
      <p><%= link_to "#{count @user.watched} watched", watched_path(@user) %></p>
    </header>

    <%= render 'recommendation_notice' %>

    <%= render 'movies/paginated', :movies => @movies %>

  <% else %>
    <% if my_page? and @user.watched.size.zero? %>
      <h1>This is a list of movies you want to watch</h1>
      <aside class="intro">
        <p>Build up this list by using the "to watch" button on any movie on the site.</p>
        <p>When you eventually mark some movies as "watched", they will disappear from this list.</p>
      </aside>
    <% end %>
    
    <p>There are no movies <%= @user.name %> plans to watch.</p>
  <% end %>

</article>
