<article>

  <% if not @movies.empty? %>
    <h1><%= @user.name %> plans to watch <%= count @movies %>.</h1>
    <nav><p><%= link_to "#{count @user.watched} watched", watched_path(@user) %></p></nav>
    
    <%= render 'movies/paginated', :movies => @movies %>
  <% else %>
    <% if my_page? and @user.watched.size.zero? %>
      <section class="intro">
        <p>
          This is a list of movies you want to watch.<br>
          Build up this list by using the "to watch" button on any movie on the site.
        </p>
        <p>When you eventually mark some movies as "watched", they will disappear from this list.</p>
      </section>
    <% end %>
    
    <p>There are no movies <%= @user.name %> plans to watch.</p>
  <% end %>

</article>