<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    
    <title>Movies app!</title>
    <%= stylesheet_link_tag "movie" %>
  </head>
  
  <body>
    
    <header>
      <h1><a href="/">The Movie App</a></h1>
    
      <nav>        
        <% if logged_in? %>
          <p>
            Logged in as <%= link_to(current_user.username, to_watch_path(:username => current_user.username)) %>,
            <%= link_to 'logout', logout_path %>
          </p>
        <% else %>
          <p><%= link_to 'login', '/login' %></p>
        <% end %>
      </nav>
    
    </header>
    
    <% if flash[:warning] %>
      <p class="warning"><%= flash[:warning] %></p>
    <% end %>
      
    <article>
      <%= yield %>
    </article>
  
  </body>

</html>
