<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="UTF-8" />
    <%= csrf_meta_tag %>
    <title><%= @title || 'The Movie App' %></title>
    <%= stylesheet_link_tag "movie" %>
  </head>
  
  <body class="<%= body_class %>">
    <%= javascript_include_tag 'modernizr' %>
    <script>
      Modernizr.addTest('inputsearch', function() {
        return Modernizr.inputtypes.search && navigator.userAgent.indexOf('Firefox') < 0
      })
    </script>
    
    <header>
      <h1><a href="/">The Movie App</a></h1>
    
      <nav>
        <% if logged_in? %>
          <p>
            logged in as <%= username_with_icon(current_user) %>
            | <%= link_to 'logout', logout_path %>
          </p>
        <% elsif Movies.offline? %>
          <%= link_to 'Instalogin!', instant_login_path %>
        <% else %>
          <p class="login">login with
            <%= link_to twitter_login_path do %><%= twitter_icon(nil) %> <span>Twitter</span><% end %>
            or
            <%= link_to facebook_login_path do %><%= facebook_icon(nil) %> <span>Facebook</span><% end %>
          </p>
        <% end %>
        
        <p><%= link_to 'about The Movie App', about_path %></p>
      </nav>
    </header>
    
    <% if flash[:warning] %>
      <p class="warning"><%= flash[:warning] %></p>
    <% end %>
      
    <%= form_tag root_path, :method => 'get' do %>
      <div>
        <%= text_field_tag :q, @query, :type => 'search', :results => '5', :placeholder => 'search movies by title' %>
        <%= submit_tag "search", :name => nil %>
      </div>
    <% end %>
      
    <%= yield %>
    
    <%= javascript_include_tag 'prototype', 'rails', 'application' %>
  </body>

</html>
