<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="UTF-8" />
    <%= csrf_meta_tags %>
    
    <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />

    <title><%= @title || 'Movi.im' %></title>
    <%= stylesheet_link_tag 'application' %>
    <% if ios? and Rails.env.development? %><%= javascript_include_tag 'livereload' %><% end %>
  </head>
  
  <body class="<%= body_class %>">
    <%= javascript_include_tag 'modernizr' %>
    <script>
      (function(M, feature){
        var test = M.inputtypes.search && navigator.userAgent.indexOf('Firefox') < 0
        document.documentElement.className += ' ' + (test ? '' : 'no-') + feature;
        M[feature] = test;
      })(Modernizr, 'inputsearch')
    </script>
    
    <header>
      <h1><a href="/">movi.im</a></h1>
    
      <nav>
        <p><%= link_to 'About', about_path %></p>

        <% if logged_in? %>
          <p><%= username_with_icon(current_user) %>
            ∙ <%= link_to 'Logout', logout_path %>
          </p>
        <% else %>
          <p class="login">Login with
            <%= link_to twitter_login_path, class: 'icon' do %><%= twitter_icon(nil) %> <span>Twitter</span><% end %>
            or
            <%= link_to facebook_login_path, class: 'icon' do %><%= facebook_icon(nil) %> <span>Facebook</span><% end %>

            <% if Rails.env.development? %>∙ <%= link_to 'Instalogin!', instant_login_path %><% end %>
          </p>
        <% end %>

      </nav>
    </header>
    
    <% if flash[:warning] %>
      <p class="warning"><%= flash[:warning] %></p>
    <% end %>
      
    <%= form_tag root_path, :method => 'get' do %>
      <div>
        <%= hidden_field_tag :local, params[:local], :id => nil if params[:local] %>
        <%= hidden_field_tag :netflix, params[:netflix], :id => nil if params[:netflix] %>
        <%= text_field_tag :q, @query, :type => 'search', :results => '5', :placeholder => 'search movies by title' %>
        <%= submit_tag "search", :name => nil %>
      </div>
    <% end %>
      
    <%= yield %>
    
    <script type="text/javascript">
      if (!/\.dev$|local/.test(location.host)) (function() {
        var t = document.createElement('script'); t.type = 'text/javascript'; t.async = true;
        t.id = 'gauges-tracker'; t.setAttribute('data-site-id', '4e1d99d1f5a1f57523000004');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(t, s);
      })();
    </script>
    <%= javascript_include_tag 'application' %>
  </body>

</html>
